3_WebAPI_亜.txt
[{"id":"9fe0d8ce.570e88","type":"websocket out","z":"5a706b89.30de8c","name":"","server":"44935005.887bc","x":636,"y":222,"wires":[]},{"id":"58486813.e59c8","type":"xml","z":"5a706b89.30de8c","name":"","attr":"$","chr":"_","x":457.5,"y":223,"wires":[["9fe0d8ce.570e88","1edf2a2e.4a4a9e"]]},{"id":"1edf2a2e.4a4a9e","type":"debug","z":"5a706b89.30de8c","name":"","active":true,"console":"false","complete":"false","x":585.5,"y":288,"wires":[]},{"id":"bfb59c02.6e8b5","type":"http request","z":"5a706b89.30de8c","name":"リクナビAPI呼び出し","method":"GET","url":"http://webservice.recruit.co.jp/shingaku/school/v2/?code=SC000163&key=43ba47966ce3abea","tls":"","x":285,"y":223,"wires":[["58486813.e59c8"]]},{"id":"b4a3cfa.2ec763","type":"websocket in","z":"5a706b89.30de8c","name":"","server":"44935005.887bc","x":85,"y":223,"wires":[["bfb59c02.6e8b5"]]},{"id":"4b0a0f73.899bc","type":"http response","z":"5a706b89.30de8c","name":"","x":451,"y":129,"wires":[]},{"id":"5b8e360d.1a4c58","type":"template","z":"5a706b89.30de8c","name":"表示内容の定義","field":"payload","fieldType":"msg","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n  <head>\n    <meta name=\"viewport\" content=\"initial-scale=1.0, user-scalable=no\">\n    <meta charset=\"utf-8\">\n    <title>亜細亜大学はここ！</title>\n    <style>\n      html, body, #map-canvas {\n        height: 92%;\n        margin: 5px;\n        padding: 0px\n      }\n    </style>\n    <script src=\"https://maps.googleapis.com/maps/api/js?v=3.exp\"></script>\n    <script>\n\t\tfunction initialize() {\n\t\t  var myLatlng = new google.maps.LatLng(35.71,139.53);\n\t\t  var mapOptions = {\n\t\t    zoom: 13,\n\t\t    center: myLatlng\n\t\t  };\n\t\t  var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);\n\t\t  \n\t\t  var loc = window.location;\n          if (loc.protocol === \"https:\") {\n            newUri = \"wss:\";\n          } else {\n            newUri = \"ws:\";\n          }\n          newUri += \"//\" + loc.host + \"/ws/stations\";\n\t\t  \n\t\t  \n\t\t  var sock = new WebSocket(newUri);\n\t\t  sock.onopen = function(){ \n\t\t    console.log(\"Connected websocket\");\n\t\t    console.log(\"Sending ping..\");\n\t\t\tsock.send(\"Ping!\");\n\t\t    console.log(\"Ping sent..\");\n\t\t  };\n\t\t  sock.onerror = function(){ console.log(\"Websocket error\"); };\n\t\t  sock.onmessage = function(evt){\n\t\t    var schoolData = JSON.parse(evt.data);\n\t\t    var stations = schoolData.results.school[0].campus;\n\t\t\tfor(var i = 0; i < stations.length; i++) {\n\t\t\t  var camp = stations[i];\n              var marker = new google.maps.Marker({\n\t\t\t    position: new google.maps.LatLng(camp.latitude[0],camp.longitude[0]),\n\t\t\t    map: map,\n\t\t\t    animation: google.maps.Animation.DROP,\n\t\t\t    title: camp.address[0]\n\t\t\t  });\n\t\t\t  \n\t\t\t}\n\t\t  };\n\t\t};\n\t\t\n\t\tgoogle.maps.event.addDomListener(window, 'load', initialize);\n\n    </script>\n  </head>\n  <body>\n    <div id=\"map-canvas\"></div>\n    <font size=\"6\">亜細亜大学はココ！</font>\n    <br>powered by IBM Bluemix and Node-RED\n    <div align=\"right\">  \n    <a href=\"http://webservice.recruit.co.jp/\"><img src=\"http://webservice.recruit.co.jp/banner/shingaku-m.gif\" alt=\"リクナビ進学 Webサービス\" width=\"88\" height=\"35\" border=\"0\" title=\"リクナビ進学 Webサービス\"></a>\n    </div> \n  </body>\n</html>","x":289,"y":129,"wires":[["4b0a0f73.899bc"]]},{"id":"c4d42df6.efe258","type":"http in","z":"5a706b89.30de8c","name":"","url":"/schoolmap","method":"get","x":102,"y":129,"wires":[["5b8e360d.1a4c58"]]},{"id":"44935005.887bc","type":"websocket-listener","path":"/ws/stations","wholemsg":"false"}] 
