3_WebAPI_亜.txt
{\rtf1\ansi\ansicpg932\cocoartf1404\cocoasubrtf340
{\fonttbl\f0\fswiss\fcharset0 ArialMT;\f1\fnil\fcharset128 HiraginoSans-W3;\f2\fswiss\fcharset0 Helvetica;
}
{\colortbl;\red255\green255\blue255;\red0\green32\blue96;}
\paperw11900\paperh16840\margl1440\margr1440\vieww10800\viewh8400\viewkind0
\deftab720
\pard\pardeftab720\partightenfactor0

\f0\fs16 \cf2 [\{"id":"9fe0d8ce.570e88","type":"websocket out","z":"5a706b89.30de8c","name":"","server":"44935005.887bc","x":636,"y":222,"wires":[]\},\{"id":"58486813.e59c8","type":"xml","z":"5a706b89.30de8c","name":"","attr":"$","chr":"_","x":457.5,"y":223,"wires":[["9fe0d8ce.570e88","1edf2a2e.4a4a9e"]]\},\{"id":"1edf2a2e.4a4a9e","type":"debug","z":"5a706b89.30de8c","name":"","active":true,"console":"false","complete":"false","x":585.5,"y":288,"wires":[]\},\{"id":"bfb59c02.6e8b5","type":"http request","z":"5a706b89.30de8c","name":"
\f1 \'83\'8a\'83\'4e\'83\'69\'83\'72
\f0 API
\f1 \'8c\'c4\'82\'d1\'8f\'6f\'82\'b5
\f0 ","method":"GET","url":"http://webservice.recruit.co.jp/shingaku/school/v2/?code=SC000163&key=43ba47966ce3abea","tls":"","x":285,"y":223,"wires":[["58486813.e59c8"]]\},\{"id":"b4a3cfa.2ec763","type":"websocket in","z":"5a706b89.30de8c","name":"","server":"44935005.887bc","x":85,"y":223,"wires":[["bfb59c02.6e8b5"]]\},\{"id":"4b0a0f73.899bc","type":"http response","z":"5a706b89.30de8c","name":"","x":451,"y":129,"wires":[]\},\{"id":"5b8e360d.1a4c58","type":"template","z":"5a706b89.30de8c","name":"
\f1 \'95\'5c\'8e\'a6\'93\'e0\'97\'65\'82\'cc\'92\'e8\'8b\'60
\f0 ","field":"payload","fieldType":"msg","syntax":"mustache","template":"<!DOCTYPE html>\\n<html>\\n  <head>\\n    <meta name=\\"viewport\\" content=\\"initial-scale=1.0, user-scalable=no\\">\\n    <meta charset=\\"utf-8\\">\\n    <title>
\f1 \'88\'9f\'8d\'d7\'88\'9f\'91\'e5\'8a\'77\'82\'cd\'82\'b1\'82\'b1\'81\'49
\f0 </title>\\n    <style>\\n      html, body, #map-canvas \{\\n        height: 92%;\\n        margin: 5px;\\n        padding: 0px\\n      \}\\n    </style>\\n    <script src=\\"https://maps.googleapis.com/maps/api/js?v=3.exp\\"></script>\\n    <script>\\n\\t\\tfunction initialize() \{\\n\\t\\t  var myLatlng = new google.maps.LatLng(35.71,139.53);\\n\\t\\t  var mapOptions = \{\\n\\t\\t    zoom: 13,\\n\\t\\t    center: myLatlng\\n\\t\\t  \};\\n\\t\\t  var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);\\n\\t\\t  \\n\\t\\t  var loc = window.location;\\n          if (loc.protocol === \\"https:\\") \{\\n            newUri = \\"wss:\\";\\n          \} else \{\\n            newUri = \\"ws:\\";\\n          \}\\n          newUri += \\"//\\" + loc.host + \\"/ws/stations\\";\\n\\t\\t  \\n\\t\\t  \\n\\t\\t  var sock = new WebSocket(newUri);\\n\\t\\t  sock.onopen = function()\{ \\n\\t\\t    console.log(\\"Connected websocket\\");\\n\\t\\t    console.log(\\"Sending ping..\\");\\n\\t\\t\\tsock.send(\\"Ping!\\");\\n\\t\\t    console.log(\\"Ping sent..\\");\\n\\t\\t  \};\\n\\t\\t  sock.onerror = function()\{ console.log(\\"Websocket error\\"); \};\\n\\t\\t  sock.onmessage = function(evt)\{\\n\\t\\t    var schoolData = JSON.parse(evt.data);\\n\\t\\t    var stations = schoolData.results.school[0].campus;\\n\\t\\t\\tfor(var i = 0; i < stations.length; i++) \{\\n\\t\\t\\t  var camp = stations[i];\\n              var marker = new google.maps.Marker(\{\\n\\t\\t\\t    position: new google.maps.LatLng(camp.latitude[0],camp.longitude[0]),\\n\\t\\t\\t    map: map,\\n\\t\\t\\t    animation: google.maps.Animation.DROP,\\n\\t\\t\\t    title: camp.address[0]\\n\\t\\t\\t  \});\\n\\t\\t\\t  \\n\\t\\t\\t\}\\n\\t\\t  \};\\n\\t\\t\};\\n\\t\\t\\n\\t\\tgoogle.maps.event.addDomListener(window, 'load', initialize);\\n\\n    </script>\\n  </head>\\n  <body>\\n    <div id=\\"map-canvas\\"></div>\\n    <font size=\\"6\\">
\f1 \'88\'9f\'8d\'d7\'88\'9f\'91\'e5\'8a\'77\'82\'cd\'83\'52\'83\'52\'81\'49
\f0 </font>\\n    <br>powered by IBM Bluemix and Node-RED\\n    <div align=\\"right\\">  \\n    <a href=\\"http://webservice.recruit.co.jp/\\"><img src=\\"http://webservice.recruit.co.jp/banner/shingaku-m.gif\\" alt=\\"
\f1 \'83\'8a\'83\'4e\'83\'69\'83\'72\'90\'69\'8a\'77
\f2  
\f0 Web
\f1 \'83\'54\'81\'5b\'83\'72\'83\'58
\f0 \\" width=\\"88\\" height=\\"35\\" border=\\"0\\" title=\\"
\f1 \'83\'8a\'83\'4e\'83\'69\'83\'72\'90\'69\'8a\'77
\f2  
\f0 Web
\f1 \'83\'54\'81\'5b\'83\'72\'83\'58
\f0 \\"></a>\\n    </div> \\n  </body>\\n</html>","x":289,"y":129,"wires":[["4b0a0f73.899bc"]]\},\{"id":"c4d42df6.efe258","type":"http in","z":"5a706b89.30de8c","name":"","url":"/schoolmap","method":"get","x":102,"y":129,"wires":[["5b8e360d.1a4c58"]]\},\{"id":"44935005.887bc","type":"websocket-listener","path":"/ws/stations","wholemsg":"false"\}] }