5_WebAPI_亜.txt
[{"id":"98ee5e24.75772","type":"websocket out","z":"93a739b2.d6f4e8","name":"","server":"d8a361ba.4b7e7","x":710,"y":320,"wires":[]},{"id":"259a0562.553562","type":"xml","z":"93a739b2.d6f4e8","name":"","attr":"$","chr":"_","x":531.5,"y":321,"wires":[["98ee5e24.75772","7baaf51b.93936c"]]},{"id":"7baaf51b.93936c","type":"debug","z":"93a739b2.d6f4e8","name":"","active":true,"console":"false","complete":"false","x":659.5,"y":386,"wires":[]},{"id":"c7dd4698.675ae","type":"http request","z":"93a739b2.d6f4e8","name":"リクナビAPI呼び出し","method":"GET","url":"http://webservice.recruit.co.jp/shingaku/school/v2/?code=SC000163&key=43ba47966ce3abea","tls":"","x":359,"y":321,"wires":[["259a0562.553562"]]},{"id":"bd85da19.35ef6","type":"websocket in","z":"93a739b2.d6f4e8","name":"","server":"d8a361ba.4b7e7","x":159,"y":321,"wires":[["c7dd4698.675ae"]]},{"id":"2f9b0358.a5ea4c","type":"http response","z":"93a739b2.d6f4e8","name":"","x":525,"y":227,"wires":[]},{"id":"85d1d021.03c428","type":"template","z":"93a739b2.d6f4e8","name":"表示内容の定義","field":"payload","fieldType":"msg","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n <head>\n <meta name=\"viewport\" content=\"initial-scale=1.0, user-scalable=no\">\n <meta charset=\"utf-8\">\n <title>亜細亜大学はここ！</title>\n <style>\n html, body, #map-canvas {\n height: 92%;\n margin: 5px;\n padding: 0px\n }\n </style>\n <script src=\"https://maps.googleapis.com/maps/api/js?v=3.exp\"></script>\n <script>\n\t\tfunction initialize() {\n\t\t var myLatlng = new google.maps.LatLng(35.7,139.53);\n\t\t var mapOptions = {\n\t\t zoom: 13,\n\t\t center: myLatlng\n\t\t };\n\t\t var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);\n\t\t \n\t\t var loc = window.location;\n if (loc.protocol === \"https:\") {\n newUri = \"wss:\";\n } else {\n newUri = \"ws:\";\n }\n newUri += \"//\" + loc.host + \"/ws/stations\";\n\t\t \n\t\t \n\t\t var sock = new WebSocket(newUri);\n\t\t sock.onopen = function(){ \n\t\t console.log(\"Connected websocket\");\n\t\t console.log(\"Sending ping..\");\n\t\t\tsock.send(\"Ping!\");\n\t\t console.log(\"Ping sent..\");\n\t\t };\n\t\t sock.onerror = function(){ console.log(\"Websocket error\"); };\n\t\t sock.onmessage = function(evt){\n\t\t var schoolData = JSON.parse(evt.data);\n\t\t var stations = schoolData.results.school[0].campus;\n\t\t\tfor(var i = 0; i < stations.length; i++) {\n\t\t\t var camp = stations[i];\n var marker = new google.maps.Marker({\n\t\t\t position: new google.maps.LatLng(camp.latitude[0],camp.longitude[0]),\n\t\t\t map: map,\n\t\t\t animation: google.maps.Animation.DROP,\n\t\t\t title: camp.address[0]\n\t\t\t });\n\t\t\t \n\t\t\t}\n\t\t };\n\t\t};\n\t\t\n\t\tgoogle.maps.event.addDomListener(window, 'load', initialize);\n\n </script>\n </head>\n <body>\n <div id=\"map-canvas\"></div>\n <font size=\"6\">亜細亜大学はココ！</font>\n <br>powered by IBM Bluemix and Node-RED\n <div align=\"right\"> \n <a href=\"http://webservice.recruit.co.jp/\"><img src=\"http://webservice.recruit.co.jp/banner/shingaku-m.gif\" alt=\"リクナビ進学 Webサービス\" width=\"88\" height=\"35\" border=\"0\" title=\"リクナビ進学 Webサービス\"></a>\n </div> \n </body>\n</html>","x":363,"y":227,"wires":[["2f9b0358.a5ea4c"]]},{"id":"993d1884.beab4","type":"http in","z":"93a739b2.d6f4e8","name":"","url":"/schoolmap","method":"get","x":176,"y":227,"wires":[["85d1d021.03c428"]]},{"id":"d8a361ba.4b7e7","type":"websocket-listener","path":"/ws/stations","wholemsg":"false"}]