seijo_koko2016.txt
[{"id":"50e9e66b.e7938","type":"websocket-listener","path":"/ws/stations","wholemsg":"false"},{"id":"606e214e.3dc44","type":"websocket out","z":"50b37b97.0d5ac4","name":"","server":"50e9e66b.e7938","x":636,"y":161,"wires":[]},{"id":"38a07a06.55b54e","type":"xml","z":"50b37b97.0d5ac4","name":"","attr":"$","chr":"_","x":457.5,"y":162,"wires":[["606e214e.3dc44","8c5efd66.4718c8"]]},{"id":"8c5efd66.4718c8","type":"debug","z":"50b37b97.0d5ac4","name":"","active":true,"console":"false","complete":"false","x":585.5,"y":227,"wires":[]},{"id":"db955c6b.60a0e8","type":"http request","z":"50b37b97.0d5ac4","name":"リクナビAPI呼び出し","method":"GET","url":"http://webservice.recruit.co.jp/shingaku/school/v2/?code=SC000332&key=43ba47966ce3abea","x":285,"y":162,"wires":[["38a07a06.55b54e"]]},{"id":"f88a1161.b5d13","type":"websocket in","z":"50b37b97.0d5ac4","name":"","server":"50e9e66b.e7938","x":85,"y":162,"wires":[["db955c6b.60a0e8"]]},{"id":"34e28e67.16041a","type":"http response","z":"50b37b97.0d5ac4","name":"","x":451,"y":68,"wires":[]},{"id":"76e16db1.dae23c","type":"template","z":"50b37b97.0d5ac4","name":"表示内容の定義","field":"payload","fieldType":"msg","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n  <head>\n    <meta name=\"viewport\" content=\"initial-scale=1.0, user-scalable=no\">\n    <meta charset=\"utf-8\">\n    <title>成城大学はここ！</title>\n    <style>\n      html, body, #map-canvas {\n        height: 94%;\n        margin: 5px;\n        padding: 0px\n      }\n    </style>\n    <script src=\"https://maps.googleapis.com/maps/api/js?v=3.exp\"></script>\n    <script>\n\t\tfunction initialize() {\n\t\t  var myLatlng = new google.maps.LatLng(35.65, 139.6);\n\t\t  var mapOptions = {\n\t\t    zoom: 13,\n\t\t    center: myLatlng\n\t\t  };\n\t\t  var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);\n\t\t  \n\t\t  var loc = window.location;\n          if (loc.protocol === \"https:\") {\n            newUri = \"wss:\";\n          } else {\n            newUri = \"ws:\";\n          }\n          newUri += \"//\" + loc.host + \"/ws/stations\";\n\t\t  \n\t\t  \n\t\t  var sock = new WebSocket(newUri);\n\t\t  sock.onopen = function(){ \n\t\t    console.log(\"Connected websocket\");\n\t\t    console.log(\"Sending ping..\");\n\t\t\tsock.send(\"Ping!\");\n\t\t    console.log(\"Ping sent..\");\n\t\t  };\n\t\t  sock.onerror = function(){ console.log(\"Websocket error\"); };\n\t\t  sock.onmessage = function(evt){\n\t\t    var schoolData = JSON.parse(evt.data);\n\t\t    var stations = schoolData.results.school[0].campus;\n\t\t\tfor(var i = 0; i < stations.length; i++) {\n\t\t\t  var camp = stations[i];\n              var marker = new google.maps.Marker({\n\t\t\t    position: new google.maps.LatLng(camp.latitude[0],camp.longitude[0]),\n\t\t\t    map: map,\n\t\t\t    animation: google.maps.Animation.DROP,\n\t\t\t    title: camp.address[0]\n\t\t\t  });\n\t\t\t  \n\t\t\t}\n\t\t  };\n\t\t};\n\t\t\n\t\tgoogle.maps.event.addDomListener(window, 'load', initialize);\n\n    </script>\n  </head>\n  <body>\n    <div id=\"map-canvas\"></div>\n    <font size=\"6\">成城大学はココ！</font>\n    <br>powered by IBM Bluemix and Node-RED\n    <div align=\"right\">  \n    <a href=\"http://webservice.recruit.co.jp/\"><img src=\"http://webservice.recruit.co.jp/banner/shingaku-m.gif\" alt=\"リクナビ進学 Webサービス\" width=\"88\" height=\"35\" border=\"0\" title=\"リクナビ進学 Webサービス\"></a>\n    </div> \n  </body>\n</html>","x":289,"y":68,"wires":[["34e28e67.16041a"]]},{"id":"3d94cc3b.6c46fc","type":"http in","z":"50b37b97.0d5ac4","name":"","url":"/schoolmap","method":"get","x":102,"y":68,"wires":[["76e16db1.dae23c"]]}]